.clearfix {
  overflow: hidden;
  _zoom: 0;
}
.ml-10 {
  margin-left: 10px;
}
.mr-10 {
  margin-right: 10px;
}
.mb-10 {
  margin-bottom: 10px;
}
.mb-15 {
  margin-bottom: 15px;
}
.mr-20 {
  margin-right: 20px;
}
.mb-30 {
  margin-bottom: 30px;
}
.mb-20 {
  margin-bottom: 20px;
}
.mb-50 {
  margin-bottom: 50px!important;
}
.mb-40 {
  margin-bottom: 40px;
}
.mb-60 {
  margin-bottom: 60px;
}
li {
  list-style: none;
}
i {
  font-style: normal;
}
i.red {
  color: #ff4141;
}
.pull-left {
  float: left;
}
.pull-right {
  float: right;
}
.inline {
  display: inline-block;
}
.w104 {
  width: 104px !important;
}
.hide {
  visibility: hidden;
}
.text-right {
  text-align: right;
}
.f14 {
  font-size: 14px !important;
}
